<div class="loading-container" *ngIf="loading">
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>

<div class="container" *ngIf="result">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{result.title}}</mat-card-title>
                <mat-card-subtitle>ID: {{result.id}}</mat-card-subtitle>
                <mat-card-subtitle>{{result.releaseYear}}</mat-card-subtitle>
                <img [src]="result.imageSet.verticalPoster.w240" class="img-container">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            {{result.overview}}
        </mat-card-content>
        <section>
            <div class="example-button-row">
                <button mat-raised-button [routerLink]="['']">←</button>
            </div>
        </section>
    </mat-card>
</div>

<div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
    <section>
        <div class="example-button-row">
            <button mat-stroked-button color="error" [routerLink]="['']">←</button>
        </div>
    </section>
</div>